<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Destory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <p>Name: {{course.name}}</p>
            <p>Description: {{course.desc}}</p>
            <p><a href="/course">No</a> // <a href="/course/remove{{course.id}}">Yes! I want to delete this</a></p>
        </div>
    </body>
</html>